<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Picovoice Snippet Widget Redesign</title>
	<link rel="stylesheet" href="styles/styles.css">
	<meta name="viewport" content="width=device-width, inital-scale=1.0">
	<script src="navigation.js" defer></script>
</head>

<body>

	<main>
		<html ng-app="app">

		<head>
			<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
				rel="stylesheet">
			<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
			<script data-require="angular.js@*" data-semver="1.2.0-rc1"
				src="https://code.angularjs.org/1.2.0rc1/angular.js"></script>
			<link rel="stylesheet" href="styles/styles.css" />
			<script src="navigation.js"></script>
		</head>

		<body ng-controller='TestCtrl'>
			<div class="site-wrapper">
				<div class="tabbable tabs-left">
					<ul class="nav nav-tabs">
						<li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a href="#C#" data-toggle="tab">C#</a>
						</li>
						<li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a href="#Go" data-toggle="tab">Go</a>
						</li>
						<li ng-class="getTabClass(3)" ng-click="setActiveTab(3)"><a href="#Java"
								data-toggle="tab">Java</a></li>
						<li ng-class="getTabClass(4)" ng-click="setActiveTab(4)"><a href="#Node.js"
								data-toggle="tab">Node.js</a></li>
						<li ng-class="getTabClass(5)" ng-click="setActiveTab(5)"><a href="#HTML"
								data-toggle="tab">HTML</a></li>
						<li ng-class="getTabClass(6)" ng-click="setActiveTab(6)"><a href="#CSS"
								data-toggle="tab">CSS</a>
						</li>
						<li ng-class="getTabClass(7)" ng-click="setActiveTab(7)"><a href="#WordPress"
								data-toggle="tab">WordPress</a></li>
						<li ng-class="getTabClass(8)" ng-click="setActiveTab(8)"><a href="#React"
								data-toggle="tab">React</a></li>
						<li ng-class="getTabClass(9)" ng-click="setActiveTab(9)"><a href="#Shopify"
								data-toggle="tab">Shopify</a></li>
						<li ng-class="getTabClass(10)" ng-click="setActiveTab(10)"><a href="#AngularJS"
								data-toggle="tab">AngularJS</a></li>

					</ul>
					<div class="tab-content">
						<div ng-class="getTabPaneClass(1)" id="deal" class="content">
							{{tab1}}
						</div>

						<div ng-class="getTabPaneClass(2)" id="bond" class="content">
							{{tab2}}
						</div>

						<div ng-class="getTabPaneClass(3)" id="collateral" class="content">
							{{tab3}}
						</div>

						<div ng-class="getTabPaneClass(4)" id="rating" class="content">
							{{tab4}}
						</div>

						<div ng-class="getTabPaneClass(5)" id="rating" class="content">
							{{tab5}}
						</div>

						<div ng-class="getTabPaneClass(6)" id="rating" class="content">
							{{tab6}}
						</div>

						<div ng-class="getTabPaneClass(7)" id="rating" class="content">
							{{tab7}}
						</div>

						<div ng-class="getTabPaneClass(8)" id="rating" class="content">
							{{tab8}}
						</div>

						<div ng-class="getTabPaneClass(9)" id="rating" class="content">
							{{tab9}}
						</div>

						<div ng-class="getTabPaneClass(10)" id="rating" class="content">
							{{tab10}}
						</div>
					</div>
				</div>
			</div>
		</body>

		</html>
	</main>

	<footer>
		<p>&copy; Megan Cheung 2022.</p>
	</footer>

</body>

</html>