 body {
	 padding-top: 3rem;
 }
 .tab-content {
	margin:0;
	padding:0;
  }
  .content {
	margin:1em;
	padding:1em;
  }

  .site-wrapper {
	  border: 1px solid #d8d8d8;
	  border-radius: 5px;
	  margin: 0 auto;
	  display: block;
	  width: 60%;
  }

  footer {
	  text-align: center;
	  padding-top: 1rem;
  }